$bodyBg: #252525;
$headerH1Text: #fff;
$headerH2Text: #aaa;
$containerBg: #f8f8f8;
$textColour: #000000;
$textBg: #000000;
$footerBg: #333;
$footerText: #aaa;
$imgBorder: #707070;
$imgBg: #efefef;
$quoteBorder: #cfcfcf;
$postBottom: #e0e0e0;
$searchBorder: #cfcfcf;
$jumboBg: #333;
$jumboText: #505050;
$lineBg: #808080;
$lineColour: #d1d9e1;
$kbdColour: #333;
$kbdText: #fff;
$shadow: rgba(0,0,0,.25);
