@import "compass/css3/hyphenation";
@import "compass/css3";

body {
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {

    a {
        color: #000000;
    }
}

p, h1, h2, h3, h4, h5, h6, li, nav a {
    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;

    a {
        text-decoration: none;
    }
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
}

p, li {
    font-size: 1.4em;
    line-height: 1.5em;

    li {
        font-size: 100%;

        li {
            font-size: 100%;
        }
    }
}

p {
    &.date {
        color: #aaa;
    }
}

div {
    @include hyphenation;
}

code {
    @media screen and (max-width: 767px) {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

pre code {
    display: block;
    padding: .5em;
}

img {
    max-width: 100%;
    border: 1px solid #707070;
    padding: 5px;
    background-color: #efefef;
    @include border-radius(4px, 4px);
}

a {
    transition: color 0.3s;
}

blockquote {
    font-style: italic;
    border-left: 2px solid #cfcfcf;

    p {
        font-size: 2.2em;
    }
}

article.post {

    margin-bottom: 50px;

    h1 {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    h2 {
        padding-top: 0.8em;
        border-top: 1px dotted #e0e0e0;
    }
}

ul.categorylist {
    padding-left: 0px;
    margin-bottom: 20px;

    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
    }
}

ul.pager {
    li a {
        background-color: inherit;
        border: 0;
    }
}

div.navbar-header {
    width: 100%;
}

a#github-image img {
    width: 50%;
    display: block;
    text-align: center;
}

ul#github-repos {
    padding-left: 0;

    li {
        list-style-type: none;

        p {
            font-size: 100%;
        }
    }
}

p.copyright {
    text-align: center;
    border-top: 1px dotted #e0e0e0;
    margin-top: 20px;
    padding-top: 20px;
}
