@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/highlight.js/styles/rainbow.css";
@import "compass/css3/user-interface";
@import "compass/css3";
@import "colours";

[data-pseudo-content]::before,
[data-pseudo-content--before]::before,
[data-pseudo-content--after]::after {
    content: attr(data-pseudo-content);
}

body {
    background-color: $bodyBg;
}

h1, h2, h3, h4, h5, h6 {

    a {
        color: $textBg;
    }
}

header .jumbotron {
   h1 a {
      color: $headerH1Text;
   }

   h2 {
      color: $headerH2Text;
   }
}

.container {
    background-color: $containerBg;

    &#mainbody {
        padding-top: 20px;
    }
}

.headercontainer {
    padding-left: 0;
    padding-right: 0;
}

.footercontainer {
    background-color: $footerBg;
    color: $footerText;
}

p, h1, h2, h3, h4, h5, h6, li, nav a {
    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;

    a {
        text-decoration: none;
    }
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
}

p, li {
    font-size: 1.4em;
    line-height: 1.5em;

    li {
        font-size: 100%;

        li {
            font-size: 100%;
        }
    }
}

p {
    strong {
        font-weight: 900;
        color: $textColour;
    }

    &.date {
        color: $footerText;
    }
}

code {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Menlo, Monaco, "Andale Mono", "Ubuntu Mono", "lucida console", monospace;
}

pre {
    padding: 0;
    margin-bottom: 0;
    overflow-x: auto;

    code {
        display: block;
        overflow-wrap: normal;
        word-wrap: normal;
        white-space: pre;
        font-family: Menlo, Monaco, "Andale Mono", "Ubuntu Mono", "lucida console", monospace;
        font-size: 1.2em;
        @include border-radius(4px, 4px);
        &.hljs {
            padding-right: 10px;
        }
    }
}

img {
    max-width: 100%;
    border: 1px solid $imgBorder;
    padding: 5px;
    background-color: $imgBg;
    @include border-radius(4px, 4px);
}

a {
    transition: color 0.3s;
}

blockquote {
    font-style: italic;
    border-left: 2px solid $quoteBorder;

    p {
        font-size: 2.2em;
    }
}

article.post {

    margin-bottom: 50px;
    border-bottom: 1px dotted $postBottom;

    h1 {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    h2 {
        padding-top: 0.8em;
        border-top: 1px dotted $postBottom;
    }
}

ul.categorylist {
    padding-left: 0px;
    margin-bottom: 20px;

    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
    }
}

ul.pager {
    li a {
        background-color: inherit;
        border: 0;
    }
}

div.navbar-header {
    width: 100%;
}

.navbar {
    margin-bottom: 0;
}

a#github-image img {
    width: 50%;
    display: block;
    text-align: center;
}

ul#github-repos {
    padding-left: 0;

    li {
        list-style-type: none;

        p {
            font-size: 100%;
        }
    }
}

p.copyright {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

ul.searchresults {
    display: none;
    background-color: $containerBg;
    font-size: 10px;
    list-style-type: none;
    padding-left: 0;
    overflow-y: overlay;
    z-index: 9999;
    position: absolute;
    border: 1px solid $searchBorder;

    li {
        border-bottom: 1px solid $searchBorder;

        a {
            padding: 5px;
            display: block;
            color: $textColour;
            text-decoration: none;

            &:hover {
                background-color: $searchBorder;
            }
        }
    }
}

.jumbotron {
    margin-bottom: 0;
    background-color: $jumboBg;
    color: $jumboText;
    border-radius: 0 !important;

    h1 {
        font-size: 3em;
        line-height: 1.2em;

        a {
            color: $jumboText;
        }
    }

    h2 {
        font-size: 1.5em;
    }
}

.linenos {
    @include user-select(none);
    float: left;
    background-color: $lineBg;
    color: $lineColour;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

.hljs {
    padding: 0;

    &.singleline {
        padding: 10px;
    }
}

kbd {
   padding: 2px 4px;
   font-size: 90%;
   color: $kbdText;
   background-color: $kbdColour;
   border-radius: 3px;
   box-shadow: inset 0 -1px 0 $shadow;
}

@media (min-width: $screen-sm-min) {
   form#searchForm {
      position: relative;
      right: 20px;
   }
}
