@import "compass/css3/hyphenation";
@import "compass/css3/user-interface";
@import "compass/css3";

[data-pseudo-content]::before,
[data-pseudo-content--before]::before,
[data-pseudo-content--after]::after {
    content: attr(data-pseudo-content);
}

body {
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {

    a {
        color: #000000;
    }
}

.container {
    background-color: #f8f8f8;
}

.headercontainer {
    padding-left: 0;
    padding-right: 0;
}

.footercontainer {
    background-color: #333;
    color: #aaa;
}

p, h1, h2, h3, h4, h5, h6, li, nav a {
    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;

    a {
        text-decoration: none;
    }
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
}

p, li {
    font-size: 1.4em;
    line-height: 1.5em;

    li {
        font-size: 100%;

        li {
            font-size: 100%;
        }
    }
}

p {
    &.date {
        color: #aaa;
    }
}

div {
    @include hyphenation;
}

code {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Menlo, Monaco, "Andale Mono", "Ubuntu Mono", "lucida console", monospace;
}

pre {
    padding: 0;
    margin-bottom: 0;
    overflow-x: auto;

    code {
        display: block;
        overflow-wrap: normal;
        word-wrap: normal;
        white-space: pre;
        font-family: Menlo, Monaco, "Andale Mono", "Ubuntu Mono", "lucida console", monospace;
        @include border-radius(4px, 4px);
        &.hljs {
            padding-right: 10px;
        }
    }
}

img {
    max-width: 100%;
    border: 1px solid #707070;
    padding: 5px;
    background-color: #efefef;
    @include border-radius(4px, 4px);
}

a {
    transition: color 0.3s;
}

blockquote {
    font-style: italic;
    border-left: 2px solid #cfcfcf;

    p {
        font-size: 2.2em;
    }
}

article.post {

    margin-bottom: 50px;
    border-bottom: 1px dotted #e0e0e0;

    h1 {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    h2 {
        padding-top: 0.8em;
        border-top: 1px dotted #e0e0e0;
    }
}

ul.categorylist {
    padding-left: 0px;
    margin-bottom: 20px;

    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20px;
    }
}

ul.pager {
    li a {
        background-color: inherit;
        border: 0;
    }
}

div.navbar-header {
    width: 100%;
}

a#github-image img {
    width: 50%;
    display: block;
    text-align: center;
}

ul#github-repos {
    padding-left: 0;

    li {
        list-style-type: none;

        p {
            font-size: 100%;
        }
    }
}

p.copyright {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

ul.searchresults {
    display: none;
    width: 200px;
    background-color: #f8f8f8;
    font-size: 10px;
    list-style-type: none;
    padding-left: 0;
    overflow-y: overlay;
    z-index: 9999;
    position: absolute;
    border: 1px solid #cfcfcf;

    li {
        border-bottom: 1px solid #cfcfcf;

        a {
            padding: 5px;
            display: block;
            color: #000000;
            text-decoration: none;

            &:hover {
                background-color: #cfcfcf;
            }
        }
    }
}

.jumbotron {
    margin-bottom: 0;
    background-color: #333;
    border-radius: 0 !important;

    h1 {
        font-size: 2.2em;
        line-height: 1.2em;

        a {
            color: #f2f2f2;
        }
    }

    h2 {
        font-size: 1em;
        color: #aaa;
    }
}

.linenos {
    @include user-select(none);
    float: left;
    background-color: grey;
    color: #d1d9e1;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

.hljs {
    padding: 0;

    &.singleline {
        padding: 10px;
    }
}
